<div id="splash">
  <div class="home displayed">
    <h1>The Legend of Pookie</h1>
    <h2>A Pug to the Past</h2>
    <ul class="splash-menu">
      <li class="start selected">Press 'ENTER' to start</li>
      <li class="howto">How to Play</li>
    </ul>
  </div>
  <div class="instructions">
    <h1>How to play</h1>
    <ul>
      <li>Move using the 'WASD' keys</li>
      <li>K = Talk/Select</li>
      <li>L = Attack</li>
      <li>Enter = Pause</li>
    </ul>
  </div>
</div>